# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
ocrenv/

# Environment variables

# Streamlit
.streamlit/

# Vector Databases
vectordb/
vectordbs/

# Uploaded files & outputs
uploads/
outputs/

# Mac system files
.DS_Store

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Temporary files
temp/
tmp/